:root {
  /* Color Theme Swatches in Hex */
  --clr-yellow-0: hsl(46, 96%, 75%);
  --clr-yellow-1: hsl(46, 96%, 51%);

  --clr-yellow-2: hsl(46, 66%, 49%);

  --clr-brown-1: rgb(166, 142, 63);

  --clr-brown-2: hsl(46, 30%, 37%);

  --clr-brown-3-5: hsl(47, 18%, 40%);

  --clr-brown-3: rgb(81, 75, 56);

  --clr-brown-4: hsl(45, 18%, 24%);

  --clr-brown-5: hsl(47, 18%, 20%);

  --clr-brown-6: hsl(47, 18%, 15%);

  --clr-brown-7: hsl(47, 18%, 10%);

  --clr-primary-black: hsl(30, 8%, 5%);
  --clr-primary-white: hsl(0, 0%, 100%);

  /* border radius */
  --corner-rad: 4rem;

  --ff-primary: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --ff-secondary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --ltr-spacing: 0.025rem;
}

*,
::before,
::after {
  /* outline: 1px solid #f00 !important; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid 1px red !important; */
}

body {
  font-size: 16px;
  line-height: 1.5;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: var(--ff-primary);
  letter-spacing: var(--ltr-spacing);
  background-color: var(--clr-primary-black);
  color: var(--clr-brown-1);
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
/* ######################## NAV BAR ############################# */
.err {
  width: 66ch;
  border: #787054;
  margin: 4rem auto;
  text-align: center;
}

.err-txt {
  font-size: 2rem;
}

.err-link:visited {
  color: var(--clr-brown-1);
}
.err-link:hover {
  color: var(--clr-primary-white);
}

.err h1 {
  padding-top: 2rem;
}
.err pre {
  margin: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-brown-7);
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* ##################### Home Icon #####################*/
.home-icon {
  display: flex;
  margin: 0.25rem 0.25rem;
  border-radius: 50%;
  transition: 0.8s;
}
.home-icon:hover {
  filter: sepia(100%) brightness(150%);
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  width: 48px;
  height: 48px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}
/* ##################### Home Icon End #####################*/

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav li {
  padding: 0 1rem;
}

nav a {
  text-decoration: none;
  color: var(--clr-brown-1);
}
nav a:visited {
  /* color: var(--clr-yellow-2); */
  color: var(--clr-brown-1);
}
nav a:hover {
  color: var(--clr-yellow-0);
}

/* ############################ INTRO ################################ */

.title-main {
  text-align: center;
  padding: 4rem 0rem 2rem 0;
  max-width: 75vw;
  margin: 0 auto;
}
.title-h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.intro {
  text-align: center;
  margin: 0 auto 4rem auto;
  max-width: 66ch;
}
.intro p {
  padding: 0 0.5rem;
}

/* ############################ MAIN ################################ */

main {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.user-data {
  display: flex;
  text-align: justify;
  justify-content: space-between;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-height: 80%;
  background-color: var(--clr-brown-3);
  width: 100%;
  border-radius: 4rem;
  margin-bottom: 4rem;
}

.bg-container {
  position: absolute;
  height: 100vh;
  width: 80%;
  z-index: -1;
  top: 48px;
  margin-bottom: 2rem;
}
.bg-img {
  position: absolute;
  filter: sepia(100%) brightness(35%);
  height: 100%;
  width: 100%;
  top: 48px;
  border-bottom: 10rem solid rgba(255, 0, 0, 0);
}
.bg-img-no-sep {
  position: absolute;
  filter: sepia(0%) brightness(35%);
  height: 100%;
  width: 100%;
  top: 48px;
  border-bottom: 10rem solid rgba(255, 0, 0, 0);
}

/* Position text on the page/image */
.bg-title {
  opacity: 0;
}
.bg-text {
  background-color: rgba(0, 0, 0, 0.25); /* Black w/opacity/see-through */
  color: var(--clr-yellow-0);
  border: 1px solid var(--clr-brown-6);
  border-radius: 0.5rem;
  position: absolute;
  top: 30%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transform: scale3d(0.1, 0.1, 0.1);
}

.visible {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: all 2s ease;
}

.img-lrg {
  max-height: 80%;
  padding: 1rem 0;
  z-index: 10;
}
.sepia {
  transition: 0.125s;
}
.sepia:hover {
  filter: sepia(200%);
}

.colour {
  transition: 24s;
}
.colour:hover {
  filter: hue-rotate(-1440deg);
}

.img-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 80%;
  width: 80%;
}

.bg-svg-img {
  height: 80%;
  max-width: 100%;
  justify-self: center;
  align-items: center;
  z-index: 0;
  opacity: 0.5;
}

.b64-wrapper {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  max-height: 100%;
  width: 100%;
}

.b64-img {
  height: 10vw;
  max-height: 100px;
  opacity: 25%;
}

.data {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  z-index: 10;
}

.transparent {
  opacity: 1;
}

.txt-container {
  background-color: var(--clr-brown-3);

  color: var(--clr-primary-black);
  border-radius: 4rem;
  padding: 4rem;
  margin-bottom: 4rem;
}

.txt-content {
  max-width: 66ch;
  margin: 0 auto;
}

.txt-content-li {
  text-align: center;
}

.txt-content .para {
  padding-bottom: 1rem;
}
.txt-content :last-child {
  padding-bottom: 0;
}

.strap-top {
  margin-bottom: 4rem;
}

.strap-bottom {
  margin-top: 4rem;
}

.list {
  position: relative;
}
.list li {
  padding-bottom: 0.25rem;
}
.list :last-child {
  padding-bottom: 0;
}

/* ################# LIST FUNCTIONALITY ################## */

.list li:hover {
  list-style: circle;
  color: var(--clr-yellow-1);
  cursor: default;
}
.list li:active {
  list-style: circle;
  color: var(--clr-yellow-1);
  cursor: default;
}
.list li:hover::marker {
  font-size: 1rem;
  color: var(--clr-yellow-1);
}

/* ###### DATA ATTRIBUTE text control ###### START*/
/* used to display text when user interacts with list */
.list li[data-tooltip]:hover::after {
  display: flex;
  position: absolute;
  width: 100%;
  top: -5.5rem;
  /* left: 10%; */
  align-self: center;
  justify-content: center;

  content: attr(data-tooltip);
  border: none;
  border-radius: 0.5rem;
  background: var(--clr-brown-7);
  color: var(--clr-brown-1);
  padding: 1rem;
}

.list li[data-tooltip]:active::after {
  display: flex;
  position: absolute;
  width: 100%;

  content: attr(data-tooltip);
  border: none;
  border-radius: 0.5rem;
  background: var(--clr-brown-7);
  color: var(--clr-brown-1);
}

/* position moved so that wrapped text doesn't cover list elements */
@media screen and (max-width: 940px) {
  .list li[data-tooltip]:hover::after {
    width: 100%;
    top: -8rem;
    /* left: -05%; */
  }

  .list li[data-tooltip]:active::after {
    width: 100%;
    top: -8rem;
    /* left: -05%; */
  }
}

@media screen and (max-width: 600px) {
  .txt-container {
    padding: 2rem;
    text-align: justify;
  }

  .data {
    font-size: 1rem;
  }

  .list li[data-tooltip]:hover::after {
    width: 150%;
    top: -8rem;
    left: -25%;
  }

  .list li[data-tooltip]:active::after {
    width: 150%;
    top: -8rem;
    left: -25%;
  }
}
/* ###### DATA ATTRIBUTE text control END ###### */

/* ###### FOOTER START ###### */

footer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--clr-brown-7);
  font-size: small;
}

footer * {
  padding: 1.25rem;
  color: var(--clr-brown-1);
}

footer a:hover {
  color: var(--clr-yellow-0);
}

@media screen and (max-width: 560px) {
  footer {
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    height: 8rem;
  }
  footer * {
    padding: 0%;
  }
  /* footer :first-child {
    padding-bottom: 0;
  } */
}

/* ###### FOOTER END ###### */

/* ###### CONTACT FORM START ###### */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-family: var(--ff-secondary);
  background-color: var(--clr-primary-black);
  width: 316px;
  margin: 0 auto;
  border: 1px solid var(--clr-brown-3-5);
  border-radius: 2rem;
  margin-bottom: 4rem;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  width: 80vw;
  max-width: 292px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  /* border: 1px solid var(--clr-brown-3-5); */
  border: 0px;
  background-color: var(--clr-primary-black);
  /* box-shadow: 0px -1rem var(--clr-primary-black); */
}

legend {
  padding: 0.5rem;
  padding-left: 0;
  font-weight: bold;
}

input {
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.25rem;
  padding: 0.125rem;
}

select {
  font-size: inherit;
  font-family: inherit;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.submit {
  width: 40%;
  background: var(--clr-primary-black);
  color: var(--clr-brown-3-5);
  border: 1px solid var(--clr-primary-white);
  border-radius: 0.25rem;
  align-self: center;
  margin-bottom: 1rem;
}

.submit:hover {
  background: var(--clr-brown-7);
  border: 1px solid var(--clr-brown-1);
  color: var(--clr-primary-white);
}

.submit:active {
  background: var(--clr-brown-7);
  border: 1px solid var(--clr-brown-1);
  color: var(--clr-primary-white);
}

/* ###### CONTACT FORM END ###### */
